<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>GraceBridalStore</display-name>
	
	<context-param>
	<param-name>fileName</param-name>
	<param-value>WEB-INF/gown.txt</param-value>
	</context-param>
	
	
	<listener>
	<listener-class>bridalwear.InitContextParam</listener-class>
	</listener>
	
	
	<servlet>
		<servlet-name>GownServlet</servlet-name>
		<display-name>GownServlet</display-name>
		<description></description>
		<servlet-class>bridalwear.GownServlet</servlet-class>
		<init-param>
      <param-name>productFile</param-name>
      <param-value>gown.txt</param-value>
    </init-param>
	</servlet>
	<servlet>
		<servlet-name>SuitServlet</servlet-name>
		<display-name>SuitServlet</display-name>
		<description></description>
		<servlet-class>bridalwear.SuitServlet</servlet-class>
		<init-param>
      <param-name>productFile</param-name>
      <param-value>suits.txt</param-value>
    </init-param>
	</servlet>
	<servlet>
		<servlet-name>BridemaidServlet</servlet-name>
		<display-name>BridemaidServlet</display-name>
		<description></description>
		<servlet-class>bridalwear.BridemaidServlet</servlet-class>
		<init-param>
      <param-name>productFile</param-name>
      <param-value>bridemaid.txt</param-value>
    </init-param>
	</servlet>
	<servlet>
		<servlet-name>ShoesServlet</servlet-name>
		<display-name>ShoesServlet</display-name>
		<description></description>
		<servlet-class>bridalwear.ShoesServlet</servlet-class>
		<init-param>
      <param-name>productFile</param-name>
      <param-value>shoes.txt</param-value>
    </init-param>
	</servlet>
	<servlet>
		<servlet-name>AccessoriesServlet</servlet-name>
		<display-name>AccessoriesServlet</display-name>
		<description></description>
		<servlet-class>bridalwear.AccessoriesServlet</servlet-class>
		<init-param>
      <param-name>productFile</param-name>
      <param-value>acce.txt</param-value>
    </init-param>
	</servlet>
	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<display-name>ProductServlet</display-name>
		<description></description>
		<servlet-class>bridalwear.ProductServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuyServlet</servlet-name>
		<display-name>BuyServlet</display-name>
		<description></description>
		<servlet-class>bridalwear.BuyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookServlet</servlet-name>
		<display-name>BookServlet</display-name>
		<description></description>
		<servlet-class>bridalwear.BookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerServlet</servlet-name>
		<display-name>CustomerServlet</display-name>
		<description></description>
		<servlet-class>bridalwear.CustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductDeal</servlet-name>
		<display-name>ProductDeal</display-name>
		<description></description>
		<servlet-class>bridalwear.ProductDeal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GownServlet</servlet-name>
		<url-pattern>/GownServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuitServlet</servlet-name>
		<url-pattern>/SuitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BridemaidServlet</servlet-name>
		<url-pattern>/BridemaidServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShoesServlet</servlet-name>
		<url-pattern>/ShoesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessoriesServlet</servlet-name>
		<url-pattern>/AccessoriesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/ProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyServlet</servlet-name>
		<url-pattern>/BuyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/BookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/CustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductDeal</servlet-name>
		<url-pattern>/ProductDeal</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
